:host {
  text-align: center;
  min-height: 90vh;
}

.header {
  margin: 0;
}

.table-item {
  background-color: #00000030;

  &.first-rank {
    background-color: goldenrod;
    border: #00000020 solid 1px;
  }

  &.second-rank {
    background-color: silver;
    border: #00000020 solid 1px;
  }

  &.third-rank {
    background-color: #b87333;
    border: #00000020 solid 1px;
  }
}


.table-header, .table-item {
  display: flex;
  flex-direction: row;
  padding: 0 1vw;
}

.table-header {
  font-size: 3vh;
}

.table-item {
  margin: 0.3vw;
  font-size: 3vh;
}

.table-rank {
  flex: 1;
  margin: auto;
}

.table-teamname {
  flex: 6;
  margin: auto;
}

.table-points {
  flex: 2;
  margin: auto;
}

.table-matches {
  flex: 2;
  margin: auto;
}

.scoreboard-wrapper {
  background-image: url("../../../assets/bg_scoreboard.svg");
  background-repeat: repeat;
  background-position: left top;
  background-size: 400px;
  padding-top: 18px;
}

// desktop
@media (min-width:801px) {
  .scoreboard-wrapper {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .header {
    font-size: 5vh;
  }

  .table-container {
    display: flex;
    justify-content: space-between;
  }

  .table {
    min-width: 48%;
  }

  .table-header, .table-item {
    display: flex;
    flex-direction: row;
    height: 4.3vh;
    padding: 0 1vw;
    overflow: hidden;
  }

  .table-rank {
    flex: 1;
    margin: auto;
  }

  .table-teamname {
    flex: 4;
    margin: auto;
  }

  .table-points {
    flex: 2;
    margin: auto;
  }

  .table-matches {
    flex: 3;
    margin: auto;
  }
}

@media (max-width:800px) {
  .header {
    font-size: 8vh;
    height: 10vh;
  }

  .table-item {
    padding: 1vh 0;
    margin: 1vh 0;
    font-size: 4vw;
  }

  .table-header {
    font-size: 3vw;
  }
}
